---
import { AstroError } from 'astro/errors';
import { getCollection } from 'astro:content';
import Button from '../ui/Button.astro';
import Heading from '../ui/Heading.astro';

const [staticData] = await getCollection('staticData');

if (!staticData) {
	throw new AstroError('JSON data not found');
}
---

<section>
	<div
		class="w-full border-b bg-linear-to-b from-theme-100 to-transparent dark:from-theme-800 dark:border-theme-950 border-theme-100">
		<div class="mx-auto max-w-5xl px-8 py-24 max-sm:py-12">
			<div
				class="flex items-center justify-between max-sm:flex-col max-sm:gap-8 max-sm:text-center">
				<div class="max-w-lg">
					<Heading
						text={staticData.data.contactSectionSubtitle}
						textGradient={staticData.data.contactSectionSubtitle2}
						level={2}
					/>
				</div>
				<div class="flex gap-4 max-sm:flex-row max-sm:justify-center">
					<Button
						variant="big"
						link={`mailto:${staticData.data.email}`}
						text={staticData.data.contactSectionButtonText}
						iconName={staticData.data.contactSectionButtonIcon}
						class="!py-4 !text-lg max-xl:!text-base max-sm:!text-sm transition-all duration-500 hover:scale-110"
					/>
					<Button
						variant="dark"
						link="/Luke-Bangs-CV.pdf"
						text="Download CV"
						iconName="document"
						isExternal={false}
						ariaLabel="Download CV"
						class="!py-4 !text-lg max-xl:!text-base max-sm:!text-sm transition-all duration-500 hover:scale-110"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
